# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/*
**/target/*
captcha/dl4jcnn.*
cat_dog_vgg/out.png
cat_dog_vgg/catdogvgg16.iml
captcha/upload/1377751785943020844
deeplearning4j-cnn.ipr
deeplearning4j-cnn.iws
